<%= render '/partials/nav'%>

<main class='moderators' data-controller='moderators'>
    <div class='moderators-wrap'>
        <%= render 'modal-create-moderator'%>
        <%= render '/partials/modal-send-message'%>

        
        <div class='moderators__header'>
            <%= render '/partials/search' %>
            <%= render '/partials/show_modal'%>
            <%# <p class='moderators__stats'>stats will be here</p> %>
            <%= render 'create'%>
        </div>

        <div class='moderators__table'>
            <div class='moderators__row'>
                    <div class='moderators__cell moderators__cell-checkbox'><%= render '/partials/checkbox', id:'general', type:'general'%></div>
                    <div class='moderators__cell moderators__cell-telegram-id'>telegram_id</div>
                    <div class='moderators__cell moderators__cell-username'>@username</div>
                    <div class='moderators__cell moderators__cell-stat'>оправданных(X) | заблокированных(Y) | решений за день(Z)<br>(X) | (Y) | (Z) </div>
                    <div class='moderators__cell moderators__cell-status'>status</div>
                    <div class='moderators__cell moderators__cell-registration'>registration</div>
           </div>

           <% for moderator in @moderators%>

            <div class='moderators__row moderators__row_item moderators__row' 
            data=<%=formatting_data(moderator) %>     
            >
                    <div class='moderators__cell moderators__cell-checkbox'><%= render '/partials/checkbox', id:moderator.id, type:'local' %></div>
                    <div class='moderators__cell moderators__cell-telegram-id'><%= moderator[:telegram_id] %></div>
                    <div class='moderators__cell moderators__cell-username'>@<%= moderator[:username] %></div>
                    <div class='moderators__cell moderators__cell-stat moderators__cell-stat_values'><%= moderator[:access_amount]%> | <%= moderator[:reject_amount] + moderator[:block_amount] %> | <%= moderator[:decisions_per_day_amount]%> </div>
                    <div class='moderators__cell moderators__cell-status'><%= render '/partials/select_status', status_options:default_options(@status_options, moderator[:status]), id:moderator.id %></div>
                    <div class='moderators__cell moderators__cell-registration'><%= moderator[:created_at].strftime('%d.%b.%Y') %></div>
           </div>
           <% end%>
        </div>
    </div>
</main>