<%= render '/partials/nav' %>

<main class='users'>
    <div class='users-wrap'   data-controller='users'>
        <div class='users__header'>
            <%= render 'search' %>
            <%= render 'languages'%>
        </div>

        <div class='users__table'>
            <div class='users__row'>
                    <div class='users__cell users__cell-checkbox'><%= render '/partials/checkbox'%></div>
                    <div class='users__cell users__cell-telegram-id'>telegram_id</div>
                    <div class='users__cell users__cell-username'>@username</div>
                    <div class='users__cell users__cell-status'>status</div>
                    <div class='users__cell users__cell-registration'>registration</div>
           </div>

           <% for user in @users%>

            <div class='users__row'>
                    <div class='users__cell users__cell-checkbox'><%= render '/partials/checkbox'%></div>
                    <div class='users__cell users__cell-telegram-id'><%= user[:telegram_id] %></div>
                    <div class='users__cell users__cell-username'>@<%= user[:username] %></div>
                    <div class='users__cell users__cell-status'><%= render 'select_status', status_options:default_options(@status_options, user[:status]), id:user.id %></div>
                    <div class='users__cell users__cell-registration'><%= user[:created_at].strftime('%d.%m.%Y') %></div>
           </div>
           <% end%>
        </div>
    </div>
</main>
