<%= render '/partials/nav' %>

<main class='users'>

    <div class='users-wrap'   data-controller='users'>
        <%= render '/partials/modal-send-message'%>
        <div class='users__header'>
            <%= render '/partials/search' %>
            <%= render '/partials/show_modal'%>
            <p class='users__stats'>stats will be here</p>
            <%= render 'languages'%>
        </div>

        <div class='users__table'>
            <div class='users__row'>
                    <div class='users__cell users__cell-checkbox'><%= render '/partials/checkbox', id:'general', type:'general'%></div>
                    <div class='users__cell users__cell-telegram-id'>telegram_id</div>
                    <div class='users__cell users__cell-username'>@username</div>
                    <div class='users__cell users__cell-status'>status</div>
                    <div class='users__cell users__cell-registration'>registration</div>
           </div>

           <% for user in @users%>

            <div class='users__row users__row_item users__row_none' 
            data=<%=formatting_data(user) %>     
            >
                    <div class='users__cell users__cell-checkbox'><%= render '/partials/checkbox', id:user.id, type:'local' %></div>
                    <div class='users__cell users__cell-telegram-id'><%= user[:telegram_id] %></div>
                    <div class='users__cell users__cell-username'>@<%= user[:username] %></div>
                    <div class='users__cell users__cell-status'><%= render '/partials/select_status', status_options:default_options(@status_options, user[:status]), id:user.id %></div>
                    <div class='users__cell users__cell-registration'><%= user[:created_at].strftime('%d.%m.%Y') %></div>
           </div>
           <% end%>
        </div>
    </div>
</main>
