<%= render '/partials/nav'%>

<main class='scamers'>
    <div class='scamers-wrap'   data-controller='scamers'>

        <div class="form_radio_group">
            <div class="form_radio_group-item">
              <input id="radio-active" type="radio" name="radio" checked>
              <label for="radio-active">active</label>
            </div>
            <div class="form_radio_group-item">
              <input id="radio-inactive" type="radio" name="radio">
              <label for="radio-inactive">inactive</label>
            </div>
        </div>

        <div class='scamers__table'>
            <div class='scamers__row'>
                    <div class='scamers__cell scamers__cell-telegram-id'>telegram_id</div>
                    <div class='scamers__cell scamers__cell-username'>@username</div>
                    <div class='scamers__cell scamers__cell-telegraph-post'>telegraph post</div>
                    <div class='scamers__cell scamers__cell-telegram-post'>telegram post</div>
                    <div class='scamers__cell scamers__cell-became-a-scamer'>became a scammer</div>
           </div>

           <% for scamer in @scamers%>



            <div class='scamers__row scamers__row_item scamers__row_item_none' data='<%= scamer['chat_member_status'].present? ? scamer['chat_member_status']  : 'nil'%>'>
                    <div class='scamers__cell scamers__cell-telegram-id'><%= scamer['telegram_id'] %></div>
                    <div class='scamers__cell scamers__cell-username'>@<%= scamer['username'] %></div>
                    <div class='scamers__cell scamers__cell-telegraph-post'>
                        <% if scamer['telegraph_link']%>
                            <a href='<%= scamer['telegraph_link'] %>' target='_blank'>telegraph link</a>
                        <%end%>
                    </div>
                    <div class='scamers__cell scamers__cell-telegram-post'>
                        <% if scamer['telegram_link']%>
                            <a href='<%= scamer['telegram_link'] %>' target='_blank'>telegram link</a>
                        <%end%>
                    </div>
                    <div class='scamers__cell scamers__cell-became-a-scamer'>
                        <%= DateTime.parse(scamer['date_when_became_a_scamer']).strftime('%d.%b.%Y') if scamer['date_when_became_a_scamer'].present?%>
                    </div>
           </div>
           <% end%>
        </div>
    </div>
</main>